<header id="navbar">
  <span id="logo">
    <a href="/" id="logo-image"
      ><img src="/images/logo-gradient.png" alt="Urban Stays Logo"
    /></a>
    <a href="/" id="logo-text">Urban Stays</a>
  </span>
  <nav>
    <ul id="main-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/listings">Listings</a></li>
      <li><a href="/listings/new">Add Listings</a></li>
    </ul>

    <form id="search-form">
      <input type="text" id="search" placeholder="Search..." />
      <button type="submit" id="search-button">Search</button>
    </form>

    <ul id="user-nav">
      <% if(user) { %>
      <li><a href="/logout">Logout</a></li>
      <% } else{ %>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      <% } %>
    </ul>
  </nav>
</header>

<script>
  const searchForm = document.getElementById("search-form");
  const searchInput = document.getElementById("search");

  searchForm.addEventListener("submit", function (event) {
    event.preventDefault();
    const query = searchInput.value.trim();
    if (query) {
      window.location.href = `/listings?search=${encodeURIComponent(query)}`;
    }
  });
</script>
