<% layout("/layouts/boilerplate") %>
<body class="form-body">
  <form
    action="/listings"
    method="POST"
    class="form"
    enctype="multipart/form-data"
  >
    <h2 class="form-title">Add New Listing</h2>
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      id="title"
      required
      placeholder="Mountain Retreat"
    />
    <br />
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      required
      placeholder="Description here..."
    ></textarea>
    <br />
    <label for="price">Price</label>
    <input type="number" name="price" id="price" required placeholder="1500" />
    <br />
    <label for="location">Location</label>
    <input
      type="text"
      name="location"
      id="location"
      required
      placeholder="Aspen"
    />
    <br />
    <label for="country">Country</label>
    <input
      type="text"
      name="country"
      id="country"
      required
      placeholder="United States"
    />
    <br />
    <label for="image">Image</label>
    <input type="file" name="image" id="image" required />
    <br />
    <button type="submit" class="submit-btn">Add Listing</button>
  </form>
</body>
