@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

:root {
  --primary-color: #ff5a5f;
  --secondary-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Signika", serif;
}

.quot {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 2rem;
  text-align: center;
}

.container {
  max-width: 1800px;
  margin: auto;
}

.primary-btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
}

.primary-btn:hover {
  background-color: #ff7b7f;
}

.secondary-btn {
  background-color: var(--secondary-color);
  color: #333;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
}

.secondary-btn:hover {
  background-color: #ece3e3;
}

header#navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

header#navbar #logo {
  display: flex;
  align-items: center;
}

header#navbar #logo img {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

header#navbar #logo-text {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

header#navbar nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header#navbar nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

header#navbar nav ul li a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#footer {
  margin-top: auto;
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem 5rem;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* .footer-content{
  background-color: pink;
} */

.footer-content-brand {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-content-brand .logo img {
  width: 60px;
}

.footer-content-brand .paragraph {
  width: 80%;
  font-size: 1.2rem;
  margin: auto;
  line-height: 1.5;
}

.footer-content-links .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 1rem 0;
}

.footer-content-links .social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-bottom {
  margin-top: 2rem;
}

#listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-items: center;
  gap: 2rem 1rem;
  padding: 2rem;
}

.listing-card {
  overflow: hidden;
}

.listing-card:hover .listing-image img {
  transform: scale(1.05);
}

.listing-image {
  width: 280px;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
}

.listing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.listing-link {
  text-decoration: none;
  color: #333;
}

.listing-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.listing-price {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.listing-location {
  color: #666;
}

.form {
  width: fit-content;
  margin: 5rem auto;
  /* background-color: #f7f7f7; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.form .form-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.form label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #333;
}

.form input,
.form textarea {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 25rem;
  font-size: 1rem;
}

.form textarea {
  resize: none;
  height: 100px;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

.form .submit-btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
}

.show-listing-card {
  padding: 2rem 5rem;
}

.show-listing-card .show-listing-image {
  width: 50rem;
  height: 25rem;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.show-listing-card .show-listing-image:hover img {
  transform: scale(1.05);
  cursor: pointer;
}

.show-listing-card .show-listing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.show-listing-card .show-listing-info {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 10px;
}

.show-listing-card .show-listing-info h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 1rem;
}

.show-listing-info p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #666;
}

.show-listing-info .show-listing-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.show-listing-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

#error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error-page h2 {
  font-size: 5rem;
  color: var(--primary-color);
}

#error-page p {
  font-size: 1.5rem;
  color: #333;
}

#add-review-form,
#view-reviews {
  margin-top: 5rem;
}

#add-review-form h3,
#view-reviews h3 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#add-review-form label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #333;
}

#add-review-form input,
#add-review-form textarea {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
}

#view-reviews ul {
  list-style: none;
}

#view-reviews li {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#view-reviews li h4 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

#view-reviews li p {
  font-size: 1.1rem;
  color: #666;
}
