@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #ff5a5f;
  --secondary-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Signika", serif;
}

header#navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

header#navbar #logo {
  display: flex;
  align-items: center;
}

header#navbar #logo img {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

header#navbar #logo-text {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

header#navbar nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header#navbar nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

header#navbar nav ul li a:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
